.margin {
    margin-top: 5px;
    margin-bottom: 5px;
 }
/* FOTO*/
 header {
  background-image: url("../img/imgfundo.png");
  height: 400px;
  background-size: 100% 400px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 30px;
}

/* NAVIGATION*/
header nav {
  text-align: left;
  position: absolute;
  bottom: 20px;
  padding:10px;
}

header nav a {
  color:rgb(226, 213, 213);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}

header nav a:hover {
  color:rgb(201, 33, 33);
}

/* PROFILE*/

 .idcontainer{
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 30px;
   color:rgb(207, 212, 218);
 }




 .titulo {
          font-size: 60px;
          background: linear-gradient(to right,red,green,blue) rgb(67,124,205);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          padding: 15px;
          text-align: center;
          text-transform: uppercase;
          margin:20px;
          font-weight: 600;

 }


 /*PICTURE*/
 .idimg .foto {
     box-shadow: 2px 2px 4px #000000;
     border:outset;
     width:200px;
     height:270px;
 }

